{% extends 'base.html' %}

{%block title%}Conan's Pets{%endblock title%}
{% block head-content %}
{% load static %}
<link rel='stylesheet' type='text/css' media='screen' href="{% static 'styles/style1.css' %}" />
{% endblock head-content %}

{% block body %}
<div class="container">
  <div class="banner">
    <h1>La mejor atención para tu mascota</h1>
  </div>
  <div class="main" id="nosotros">
    
    <h2>¿Quiénes somos?</h2>
    <p>
      Conan's Pets es una veterinaria con más de 10 años de experiencia en
      el cuidado de los animales. Ofrecemos servicios de calidad y
      profesionalismo, con un trato personalizado y amable. Nuestro objetivo
      es brindar la mejor atención a tu mascota, para que se sienta feliz y
      saludable.
    </p>
    
    <h2>¿Qué servicios ofrecemos?</h2>
    <div class="services">
      <div class="service">
        <img
          src="https://images.unsplash.com/photo-1514984879728-be0aff75a6e8?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8dmV0ZXJpbmFyeSUyMGNsaW5pY3xlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60"
          alt="Consulta"
        />
        <h3>Consulta</h3>
        <p>
          Realizamos una evaluación completa de la salud de tu mascota, con
          un diagnóstico preciso y un tratamiento adecuado. Contamos con
          equipos de última generación para realizar pruebas de laboratorio,
          radiografías, ecografías y otros exámenes.
        </p>
        <span>$20</span>
      </div>
      <div class="service">
        <img
          src="https://images.unsplash.com/photo-1560807707-8cc77767d783?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8dmV0ZXJpbmFyeSUyMHN1cmdlcnl8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60"
          alt="Cirugía"
        />
        <h3>Cirugía</h3>
        <p>
          Realizamos cirugías de emergencia y electivas, con los más altos
          estándares de seguridad y calidad. Contamos con un quirófano
          equipado con anestesia inhalatoria, monitorización, oxigenoterapia
          y material estéril. Nuestro equipo quirúrgico está formado por
          veterinarios especializados y asistentes capacitados.
        </p>
        <span>$100</span>
      </div>
      <div class="service">
        <img
          src="https://images.unsplash.com/photo-1583512603805-3cc6b41f3edb?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8dmV0ZXJpbmFyeSUyMGdyb29taW5nfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60"
          alt="Estética"
        />
        <h3>Estética</h3>
        <p>
          Realizamos servicios de estética para tu mascota, como baño, corte
          de pelo, limpieza de oídos, corte de uñas y cepillado dental.
          Utilizamos productos de calidad y adecuados para cada tipo de piel
          y pelo. Nuestro personal está entrenado para manejar a tu mascota
          con cuidado y respeto.
        </p>
        <span>$30</span>
      </div>
    </div>

    <div class="nosotros">
      <h2>Nosotros</h2>
      <div class="about">
          <img src="https://images.unsplash.com/photo-1543852786-1cf6624b9987?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8dmV0ZXJpbmFyaWFuc3xlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60" alt="Nosotros">
          <div>
              <h3>Nuestro equipo</h3>
              <p>Somos un equipo de veterinarios apasionados por los animales y comprometidos con su bienestar. Contamos con una amplia experiencia y formación continua en las diferentes áreas de la medicina veterinaria. Nos caracterizamos por nuestra ética, responsabilidad y vocación de servicio.</p>
          </div>
      </div>
    </div>
  
  </div>

  <div class="form-container" id="contacto">
    <h2>Contáctanos</h2>
    <form action="/contact" method="POST">{% csrf_token %}
      <div class="form-group">
        <label for="first-name">Nombres:</label>
        <input type="text" id="first-name" name="first-name" required />
      </div>
      <div class="form-group">
        <label for="last-name">Apellidos:</label>
        <input type="text" id="last-name" name="last-name" required />
      </div>
      <div class="form-group">
        <label for="pet-name">Nombre de la mascota:</label>
        <input type="text" id="pet-name" name="pet-name" required />
      </div>
      <div class="form-group">
        <label for="pet-age">Edad de la mascota:</label>
        <input type="number" id="pet-age" name="pet-age" required />
      </div>
      <div class="form-group">
        <label for="message">Mensaje:</label>
        <textarea id="message" name="message"></textarea>
      </div>
      <button type="submit">Enviar</button>
    </form>
  </div>

</div>
{% endblock body %}
